# set up config
alias mm='python3 ${HOME}/tools/config/make/mm.py'
alias mm.env='mm --env=sh'
alias mm.show='mm --show --dry'
alias mm.bldroot='mm --dry --quiet --show=BLD_ROOT'
mm.paths() {
    # get {mm} to print out the path variables and add them to the current environment
    eval $(python3 ${HOME}/tools/config/make/mm.py --quiet --paths=sh $*)
}
